# Default editor
EDITOR=vim
VISUAL=vim

# User
USERNAME=vscode
USER_UID=3000
USER_GID=$USER_UID

# Git
GIT_USER_EMAIL=user@comap.org
GIT_USER_NAME="First Last"

# Timzone
TZ=America/New_York

# MySQL (no quotes)
MYSQL_ALLOW_EMPTY_PASSWORD=yes
MYSQL_USER=imathas
MYSQL_PASSWORD=imathas
MYSQL_DATABASE=imathasdb

# CertBot
CERTBOT_EMAIL=tanner@real-time.com
CERTBOT_DOMAIN=course.comap.org

# App (no quotes)
DB_SERVER=mysql
DB_NAME=imathasdb
DB_USERNAME=imathas
DB_PASSWORD=imathas
CONFIG_ENV=development

# Apache
APACHE_SERVER_ADMIN=user@comap.org
APACHE_SERVER_NAME=localhost
